Hy <h1> <%= params[:user].email %> </h1>

Someone Requested a reset of your password.

It This was you, click the given link to reset your password. the link will expire automatically in 15 minutes.

<%= password_reset_edit_url(token: @token) %>